# Vim
vim/backups
vim/view
vim/plugged

# Config
config/*

# Config Fish
!config/fish/aliases.fish
!config/fish/config.fish
!config/fish/exports.fish
!config/fish/functions/*.fish

# Config NeoVim
!config/nvim/init.vim


